html,body{
    margin:0;
    padding:0;
    font-weight:300;
    margin:0 auto;
    color:#555;
    font-size:15px;
  }
  .respons{
    max-width:1000px;
    margin:0 auto;
    padding:50px;
  }
  h1{
    font-size:30px;
  }
  ul,li,dl,dt,dd{margin:0;padding:0;list-style:none;}

  /* 글쓰기 */
  #todoWriteArea{
    display:flex;
  }
  #todoWriteArea li button{
    width:80px;
    padding:8px 10px;
    margin:0 15px;
  }  
  #todoWriteArea li button:nth-child(1){
    margin-left:0;
    background:#fff;
    border:1px solid #ccc;
    border-radius:5px;
    transition:0.4s;
  }
  #todoWriteArea li button:nth-child(1):hover{
    background: orange;
    border-radius: 5px;
    border: 1px solid #cb8b57;
    color: #fff;
    transition:0.2s;
  } 
  #todoWriteArea .dateBtn{
    display:none;
  }  
  #todoWriteArea .dateBtn input{
    border:1px solid #ccc;
    padding:5.5px 10px;
    border-radius: 5px;
  }  
  #todoWriteArea textarea{
      width:500px;
      height:200px;      
      display:none;
      margin:20px 0 30px 0;
      padding:10px;
      border:1px solid #ccc;
      border-radius: 8px;
  }

  #contentList{
    margin-top:80px;
  }
  #contentList li{
    width: 28%;
    min-height:100px;
    background:#f9f9f9;
    border:1px solid #ccc;
    border-radius:5px;
    padding:10px;
    margin: 0 2% 2% 0;
    float: left;
    overflow: scroll;
  }